.ach-card{
    background-color: #696969!important;
    color: white!important;

    display: flex!important; 
	flex-direction: row!important; 
	flex-wrap: wrap!important; 
}

.ach-image{
    width: 75px;
    height: 75px;
}

.ach-body{

}