.achievement-card {
    display: flex;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #2F3335!important;
    color: white!important;
    padding: 10px!important;
}

.achievement-card:hover{
    background-color: #a7acb1!important;
    transform: scale(1.02);
}

/* Achievement icon */
.ach-image {
    width: 50%;
    height: auto;
}
