
.achievement-list-container{
    padding-right: 10px!important;

}

.game-list-container{
    padding-right: 10px!important;
    background-color: rgba(0,0,0,0)!important;
    text-align: center!important;
}

.achievement-filters{
    padding: 5px!important;
    margin-bottom: 10px!important;
    border-radius: 5px!important;
    background-color: #2F3335!important;
}

