.game-card {
    background-color: #2F3335!important;
    color: white!important;
}

.game-card:hover {
    background-color: #2F3335!important;
    transform: scale(1.05);
}

.game-card-image {
    width: 75px;
    height: auto;
}

