/* CSS styles */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(24,26,27);
  margin: 0;
  padding: 0;
}

label{
  color: lightgray;
}

h1 {
  text-align: center;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  padding-left: 10px;;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgb(18,18,18);
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="submit"] {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


.response-area {
  margin-top: 20px;
  background-color: #f0f0f0;

  padding: 20px 5px;
}

#get {
  background-color: #2ecc71;
}

#get:hover {
  background-color: #27ae60;
}

#post {
  background-color: #3498db;
}

#post:hover {
  background-color: #2980b9;
}

#put {
  background-color: #9b59b6;
}

#put:hover {
  background-color: #8e44ad;
}

#patch {
  background-color: #f1c40f;
}

#patch:hover {
  background-color: #f39c12;
}

#delete {
  background-color: #e74c3c;
}

#delete:hover {
  background-color: #c0392b;
}