.custom-card {
    background: rgb(46, 46, 46);
    border-color: white;
    color : white;
    margin-bottom: 1rem;

    display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 

    border-radius: 25px;
}

.card-image {
    border-radius: 25px;
    height: 35%;
    width: 35%;
}

.card-body{
    margin-left: 1rem;
    width: 500px;
}
