.nav-games {
    padding: 10px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0)!important;
}
  
.nav-achievements{
  padding: 15px; /* Optional: Add padding inside the border */
  background-color: rgba(0, 0, 0, 0)!important;

}

.games-column{
    color: white;
}

.achievements-column{
    color:white;
}

.test-list-group{
    background-color: rgba(0, 0, 0, 0)!important;
}

